.board{
      display: "flex";
      justifyContent: "center";
      margin: "0 auto";
      width: "90vw";
      fontFamily: 'Arial, "Helvetica Neue", sans-serif';
    }
.column{
      minWidth: 200;
      width: "18vw";
      height: "80vh";
      margin: "0 auto";
      backgroundColor: "#FCC8B2";
    }
.columnHead{
      textAlign: "center";
      padding: 10;
      fontSize: "1.2em";
      backgroundColor: "#C6D8AF";
}
.ite{
      display: 'flex';
      flexDirection: 'column';
      padding: 10;
      margin: 10;
      fontSize: "0.8em";
      cursor: "pointer";
      backgroundColor: "white";
    }
.mb{
      marginBottom: '10px';
    }
